#wrape{
    width: 600px;
}

form {
    display: block;
    padding: 5;
    display: flex;
    flex-direction: column
}

#name,#email {
    border-radius: 5px;
    padding: 10px;
    margin-left: 100px;
    width: 400px;
}

label {
    padding: 10px;
    text-align: left;
    margin-left: 80px;
}

#enviar {
    margin-top: 30px;
    width: 80px;
    font-size: 20px;
    color: darkblue;
    padding: 5px;
    background-color: rgb(242, 215, 255);
    border-radius: 4px;
    border: 1px solid black;
    margin-left: 100px;
}

#enviar:hover {
    background-color: rgb(97, 13, 118);
    color: aliceblue;
}