<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/homeStyle/homeStyle.css">
    <title>Apresentação</title>
</head>

<body>
    <div id="wrape">
        <header>
            <nav>
                <h1>Cadastro de Funcionários</h1>
                <h2> Nesta pagina aborda quais linguagens e suas tecnologia que foi usado para construir esse site!
                </h2>
                <p><a href="cadastrar">cadastrar</a></p>

            </nav>
        </header>

        <section>
            <h2>Linguagens Ultilizadas:</h2>
            <ul>
                <li>Java (Linguagem Fortemente Tipada)</li>
                <li>HTML (Linguagem de Marcação de Texto)</li>
                <li>CSS (Limguagem de Estilo)</li>
            </ul>
            <h2>Depencias do Java - Spring Boot Ultilizadas:</h2>
            <ul>
                <li>H2 (Banco em mémoria)</li>
                <li>JPA (Java Persiste API - dependencia)</li>
                <li>Lombok (biblioteca Java que reduz código repetitivo e deixa-o mais limpo)</li>
                <li> Spring Web (conjunto de módulos do ecossistema Spring para desenvolver aplicações web)</li>
                <li> Thymeleaf (motor de templates Java para criar páginas HTML dinâmicas no lado do servidor)</li>
            </ul>
        </section>
        <footer>@Hiago do Nascimento Figueiredo</footer>
    </div>
</body>

</html>